body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: white;
    display: flex;
    align-items: center; 
    box-sizing: border-box;
    z-index: 1000; /* Ensure the header is on top */
}

.navbar {
    display: flex;
    margin-left: auto;
}

.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #476fb6;
    font-weight: 550;
    text-decoration: none;
}

.home, .books, .account, .about {
    margin-left: 20px; 
}

.logo {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #476fb6;
    font-weight: 600;
    text-decoration: none;
}

.row2 {
    margin-top: 80px; /* Adjust this value based on the height of your header */
    padding: 20px;
    display: flex;
    height: calc(100vh - 80px); /* Adjust height based on the header height */
    box-sizing: border-box;
}


.text_column {
    width: 50%; /* Set the width of the text column */
    padding: 10px;
    /*border: 1px solid #ccc;*/
    display: flex;
    flex-direction: column;
    /*box-sizing: border-box;*/
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}

.label_text {
    width: 450px;
    height: 40px;

    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #476fb6;
    font-weight: 600;
}

.input_text {
    width: 450px;
    height: 40px;

    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.button_submit {
    width: 468px;
    height: 45px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #476fb6;
    border: 1px solid transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.image_column {
    width: 50%; /* The image column will take the remaining space */
    padding: 10px;
    /*border: 1px solid #ccc;*/
    /*box-sizing: border-box;*/
    /*display: flex;*/
    overflow: hidden; /* Ensure the image does not overflow the column */ 
}

.home_image {
    width: 100%;
    height: 100%; /* Make the image fill the height of the column */
    object-fit: cover; /* Ensure the image covers the entire area without distortion */
}

